<div class="contact">
  <h2>Contact</h2>
  <ul>
    <li>Toronto Metropolitan University</li>
    <li>Computer Science Co-op Student</li>
    <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>Toronto, ON, Canada</span></li>
    <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:asivakarunai@torontomu.ca">asivakarunai@torontomu.ca</a></li>
    <li><span class="li-icon">{% include svg/internet.svg %}</span><a href="https://arooran-sivakarunai.github.io/">https://arooran-sivakarunai.github.io/</a></li>
  </ul>
</div>
