<div class="project">
    <a href="projects.html"><h2>Hello<h2></a>
    <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tortor velit, tincidunt in sagittis ac, eleifend nec justo. Morbi ullamcorper, neque a eleifend venenatis, nulla urna tincidunt ante, nec sagittis justo eros vitae ex.</p>
  </div>

  <div class="project">
    <a href="projects.html"><h2>Hello<h2></a>
      <p>
  lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tortor velit, tincidunt in sagittis ac, eleifend nec justo. Morbi ullamcorper, neque a eleifend venenatis, nulla urna tincidunt ante, nec sagittis justo eros vitae ex</p>
  </div>